DISCORD_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=1541193924993876099
DISCORD_GUILD_ID=
CO_OWNER_ID=PUT_THE_CO_OWNER_DISCORD_USER_ID_HERE
BOT_CREATOR_NAME=blibbbye
CONFESSIONS_CHANNEL_NAME=🤫・confessions
DEFAULT_TRANSLATE_TO=en
DEPLOY_COMMANDS=true
